<li class="activity">
  <small class="label"><%= message.label %></small>

  <div class="thumb">
    <%= image_tag message.profile.picture_url %>
  </div>
  
  <div class="content">
    <h5><%= link_to message.profile.name, message.profile %></h5>
	
  	<%= auto_link(message.content) %> </br>	
  	<small>
  	  <%= time_ago_in_words(message.created_at) %>

    	<%= link_to t("view"), message_path(message)%>  	  
    	<%= link_to t("reply"), message_path(message), :anchor => '#new-reply'%>
    	
    	<% if message.profile == current_user %>
    	  <%= link_to t("delete"), message, :method => :delete, :confirm => t(:delete_message_confirm) %>
    	<% end %>
  	</small>
	</div>
	<br style="clear:both"/>
</li>