
<div class="header">
<%= @message.profile.name %> posted:
<ul>
  <%= render @message %>  
</ul>
</div>

<div id="reply">
  <h3>Replies</h3>
  <% if current_user? %>
  <div id="new-message" class="reply">
    <h2>Reply</h2>

    <%= simple_form_for current_user.messages.build, :url => reply_message_path(@message) do |f| %>
      <%= f.input :content, :as => :text, :input_html => {:rows => 3, :cols => 80 } %>
      <%= f.input :location, :input_html => {:placeholder => "Specify a location"} %>
      <%= f.button :submit %>
    <% end %>
  </div>
  <% end %>

  <ul class="replies">
    <% if @replies.empty? %>
      <li>No comments</li>
    <% else %>
      <%= render @replies %>  
    <% end %>
  </ul>
</div>