<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
  <title>redcity | welcome</title> 
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" media="all" /> 
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" media="all" /> 

  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ie.css" media="all" />
  <![endif]--> 
</head> 
<body> 
  <div id="flash">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  </div>
  
  <div id="topbar" class="wrap"> 
    <div id="user_controls"> 
      <% if current_user %>
        <%= image_tag(current_user.picture_url) %>
        <p> 
        
        <strong>Hi, <%= link_to current_user.name, profile_path(current_user) %></strong><br/>
        <a href="<%= edit_profile_path(current_user) %>">Settings</a>
        <%= link_to t(:logout), '/logout' %>
        </p> 
        
      <% else %>
        <%= link_to t(:login_signup), '/login' %>
      <% end %>
    </div> 
    
    <p id="main-nav"> 
      <a href="http://redcitycrew.thumbr.com">Blog</a> 
      <a href="#">More Cities</a> 
    </p> 

    <h1 class="logo">
      
      <% if @city %>
        <a href="<%= city_path(:country_id => @country.to_param, :id => @city.to_param) %>">
          <%= @city.name.upcase %><br />
          <span><%= @city.country.name %></span>
      <% elsif @country %>
        <a href="<%= country_path(:id => @country.to_param) %>">
         <%= @country.name %>
        </a>
      <% else %>
        <a hreef="/">Go<br/><span>Ruby</span></a>
      <% end %>
      </h1> 
    
    
    <div id="user">

    </div>
  </div> 
  
  <div id="header" class="wrap"> 
    <% unless controller_name =~ /profiles|cities|countries/ ||
        (action_name == 'show' && controller_name == 'messages') %>
      <%= render 'shared/welcome' %>
    <% end %>

    <ul id="menu"> 
      <li class="item1 <%= 'active' if list_view? %>">
        <%= link_to local_url(:map => 'no') do %>
          Activity<br /><span>Discover what is happening</span>
        <% end %>
      </li> 
      <li class="item2  <%= 'active' if map_view? %>">
        <%= link_to local_url(:map => 'yes') do %>
          Map <br/>
          <span>Explore what is around you</span>
        <% end %>
      </li> 
    </ul> 
  </div> 
  
  <div id="content" class="wrap"> 
     <div id="main"> 
       <ul id="submenu"> 
         <li><a class="<%= 'selected' if !params['label'] %>" href="<%= request.env["PATH_INFO"] %>">All</a></li> 

        <% Message::LABELS.each do |label| %>
          <li><a class="<%= 'selected' if label == params['label'] %>" href="<%= request.env["PATH_INFO"] + "?label=" + CGI.escape(label) %>"><%= label %></a></li>
        <% end %>
       </ul> 
        
        <%= yield %>
     </div> 
     <!-- main div ends, sidebar begins --> 
     
     <div id="sidebar"> 
      <%= yield :sidebar %>
     </div>
     
     <!-- <h3>Top Cities</h3> 
     
     <ul class="city-list"> 
       <li><a href="#">Sydney</a></li> 
       <li><a href="#">Barcelona</a></li> 
       <li><a href="#">New York</a></li> 
       <li><a href="#">Los Angeles</a></li> 
       <li><a href="#">Washington</a></li> 
     </ul> 
     
     <h3>New Users</h3> 
     
     <ul class="users"> 
       <li><a href="#"><img src="images/img1.jpg" alt="" width="30" />Taylor Luk ( @taylorluk )</a></li> 
       <li><a href="#"><img src="images/img1.jpg" alt="" width="30" />Taylor Luk ( @taylorluk )</a></li> 
       <li><a href="#"><img src="images/img1.jpg" alt="" width="30" />Taylor Luk ( @taylorluk )</a></li> 
       <li><a href="#"><img src="images/img1.jpg" alt="" width="30" />Taylor Luk ( @taylorluk )</a></li> 
       <li><a href="#"><img src="images/img1.jpg" alt="" width="30" />Taylor Luk ( @taylorluk )</a></li> 
       <li><a href="#"><img src="images/img1.jpg" alt="" width="30" />Taylor Luk ( @taylorluk )</a></li> 
       <li><a href="#"><img src="images/img1.jpg" alt="" width="30" />Taylor Luk ( @taylorluk )</a></li> 
       <li><a href="#"><img src="images/img1.jpg" alt="" width="30" />Taylor Luk ( @taylorluk )</a></li> 
     </ul> 
     
     <h3>About</h3> 
     
     <p> 
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ligula eros, luctus eget interdum ac, varius sodales lacus. Nunc cursus, lacus id ultricies dictum, dolor dolor mollis arcu.
     </p> 
     
    </div> -->
  </div> 
  
  <div id="footer" class="wrap"> 
 
    <a href="#" class="about">Red City Crew@Railsrumble</a> 
    
    <p id="footer-nav"> 
      <a href="#">About</a><a href="#">Blog</a><a href="#">Sign Up</a><a href="#">Log In</a> 
    </p> 
  </div> 

 
	<!-- Rails Rumble sash! -->
  <script type="text/javascript">
    var rumbleUrl = 'http://railsrumble.com';
  </script>
  <script type="text/javascript" src="http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

 <script src="/javascripts/cufon-yui.js" type="text/javascript" charset="utf-8"></script> 
 <script src="/javascripts/JosschriftMedium_500.font.js" type="text/javascript" charset="utf-8"></script> 
 <script src="/javascripts/myriadpro_400-myriadpro_700.font.js" type="text/javascript" charset="utf-8"></script> 

 <script type="text/javascript" charset="utf-8"> 
   Cufon.replace('h1, h2, h3, h4, p.intro, a#facebook, a#twitter, #menu', { fontFamily: 'myriadpro' }); 
   Cufon.replace('.script-text', { fontFamily: 'JosschriftMedium' }); 
 </script>
 
	<%= javascript_include_tag 'jquery.embedly.min', 'rails', 'application' %>
	
	<%= yield :js %>

 
</body> 
</html>